.contacts {
    width: 100%;
    min-height: 625px;
    background-color: rgba(231, 240, 255, .2);
    padding: 65px 100px;
    position: relative;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .column {
        width: 340px;
    }
    input, select {
        width: 300px;
        height: 40px;
        border: 1px solid #A1C4FF;
        outline: none;
        padding: 10px 10px;
        appearance: none;


    }
    .label {
        margin-top: 24px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #657C9A;
        margin-bottom: 5px;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .add {
        align-self: flex-start;
        margin: 15px 0 0 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #9BB0CB;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }

    }
    .no_mb{
        margin-bottom: 0;
    }
    .phone__block {
        position: relative;
        &-delete {
            width: 15px;
            height: 15px;
            position: absolute;
            right: -30px;
            top: 65px;
            cursor: pointer;
            div {
                width: 10px;
                height: 2px;
                background-color: #9BB0CB;

                &:hover {
                    opacity: 0.5;
                }
        

            }
        }
    }

    .basic-select {
        width: 300px;
    }
    .select {
        &__control {
            width: 300px;
            height: 40px;
            border: 1px solid #A1C4FF;
            outline: none;
            appearance: none;
            position: relative;
        }
        &__menu {
            color: #9BB0CB;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            ::-webkit-scrollbar {
                width: 4px;
            }
              
            // ::-webkit-scrollbar-track {
            //     // background: orange;        /* цвет зоны отслеживания */
            // }
              
            ::-webkit-scrollbar-thumb {
                background-color: #E7F0FF;    /* цвет бегунка */
                border-radius: 20px;       /* округлось бегунка */
                // border: 3px solid orange;  /* отступ вокруг бегунка */
            }
        }
        &__indicators {
            display: none;
        }
        &__input {
            &-container {
                position: absolute;
            }
        }
        &__value {
            &-container {
                position: static;
            }
        }
    }


}

.select::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
  }
  
  .select::-webkit-scrollbar-track {
    background: orange;        /* цвет зоны отслеживания */
  }
  
  .select::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid orange;  /* отступ вокруг бегунка */
  }