.block {
    display: flex;
}
.table{
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 28px;
    &-head {
        height: 45px;
        background-color: #4E86E4;
        display: grid;
        grid-template-columns: minmax(auto, 300px) minmax(auto, 200px) minmax(auto, 270px) minmax(auto, 200px);
        
    }
    &-name, &-company, &-contacts, &-update {
        display: flex;
        align-items: center;
        text-align-last: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
    }
    &-name {
        padding-left: 70px;
    }
    &__list {
        height: 93px;
        display: grid;
        grid-template-columns:  300px 200px 270px 200px;
        position: relative;
        transition: all .3s;
    }
    .left {
        transform: translateX(-70px);
    }
    .wrap {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #475666;
    }
    &-photo {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
            &:hover {
                background-color: #000;
            }
        }
    }
    &__user {
        margin:10px 0 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-name {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #475666;
        }
        &-title {
            font-weight: 400;
            font-size: 9px;
            line-height: 11px;
            color: #475666;
        }
    }
    .users {
        position: relative;
        .upd {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btns {
                width: 45px;
                display: flex;
                justify-content: space-between;
                margin-right: 16px;
                &-delete {
                    cursor: pointer;
                }
                img {
                    width: 100%;
                }
            }
        }


    }
    .confirmed {
        position: absolute;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        transition: all 1s;
        img {
            cursor: pointer;
        }
        &-close {
            display: flex;
            align-items: center;
            margin-right: 5px;
            
        }
        &-delete {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 14px;
            color: #FF8989;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: green;
            }
        }

    }
    &__nouser {
        height: 430px;
        background-color: #FAFCFF;
        &-title {
            padding-top: 150px;
            text-align: center;
            font-weight: 900;
            font-size: 35px;
            line-height: 41px;
            color: #9BB0CB;
        }
    }
    &-create {
        width: 160px;
        height: 40px;
        background: #5E97F3;
        margin: 65px auto 0 auto;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
    .users .table__list:nth-child(odd) {
        background-color: #E7F0FF;
    }
    .users .table__list:nth-child(1) {
        margin-top: 30px;
    }
    .hidden {
        display: none;
    }
}

.confirm-node-enter {
    opacity: 0;
  }
  .confirm-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .confirm-node-exit {
    opacity: 1;
  }
  .confirm-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  
